.MuiButton-containedSecondary {
  background-color: inherit !important;
}
.MuiButton-containedPrimary {
  background-color: var(--main-color) !important;
}
.MuiButton-contained {
  box-shadow: none !important;
}
.MuiButton-outlined {
  padding: 5px 14px !important;
}
