@mixin generate-spacer-variables($spacer-configs: $spacers) {
  @each $spacer-name, $spacer-value in $spacer-configs {
    --spacer-#{$spacer-name}: #{$spacer-value};
  }
}
:root{
  --main-color: #{$main-color};
  /* Spacer */
  @include generate-spacer-variables();
}
.has-margin-top {
  margin-top: var(--spacer-16);
  @media (min-width: 960px) {
    margin-top: calc(var(--spacer-1) * 20);
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.pointer {
  cursor: pointer;
}
