.header {
  position: sticky;
  top: 0;
  .auto-complete {
    border: none;
    margin-left: 16px;
    .MuiSvgIcon-root {
      color: white;
    }
    .MuiAutocomplete-inputRoot[class*="MuiInput-root"] {
      color: white;
    }
    .MuiAutocomplete-inputRoot[class*="MuiInput-root"] {
      border-bottom: 1px solid white;
    }
  }
}
.MuiAppBar-colorPrimary {
  background: var(--main-color) !important;
}
.input-search {
  border-radius: 5px;
  background-color: whitesmoke;
}
.badge {
  height: 35px;
  width: 35px;
}
.makeStyles-sectionDesktop-2 {
  align-items: center;
}
.img-avt.MuiAvatar-root {
  width: 35px;
  height: 35px;
}
.authMenu, .product-menu, .cart-menu {
  margin-top: 35px;
}


