.header {
  position: sticky;
  top: 0;
  .header-toolbar {
    @media (max-width: 959.9px) {
      padding-top: var(--spacer-2)!important;
      padding-bottom: var(--spacer-2)!important;
    }
  }
  .auto-complete {
    border: none;
    margin-left: var(--spacer-4);
    .MuiSvgIcon-root {
      color: white;
    }

  }
}
.MuiAppBar-colorPrimary {
  background: var(--main-color) !important;
}

.badge {
  height: 35px;
  width: 35px;
}
.makeStyles-sectionDesktop-2 {
  align-items: center;
}
.img-avt.MuiAvatar-root {
  width: 35px;
  height: 35px;
}
.authMenu, .product-menu, .cart-menu {
  margin-top: 35px;
}


