.MuiButton-containedSecondary {
  background-color: inherit !important;
}
.MuiButton-containedPrimary {
  background-color: var(--main-color) !important;
}
.MuiButton-contained {
  box-shadow: none !important;
}

