* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #7C7C7C;
}
.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  color: #555;
}
.MuiTabPanel-root {
  padding: 0 !important;
}
li.MuiBreadcrumbs-separator {
  font-size: 30px;
}
//alert
.alert.MuiAlert-root {
  padding-left: 0;
}
.MuiAlert-icon {
  padding: 0;
}
.MuiAlert-message {
  padding: 0;
}
.alert.MuiAlert-standardError {
  background: none;
}

