@mixin generate-spacer-variables($spacer-configs: $spacers) {
  @each $spacer-name, $spacer-value in $spacer-configs {
    --spacer-#{$spacer-name}: #{$spacer-value};
  }
}
:root{
  --main-color: #{$main-color};
  /* Spacer */
  @include generate-spacer-variables();
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-20 {
  width: 20%;
}
.pointer {
  cursor: pointer;
}
.color-white {
  color: white !important;
}
.color-blue {
  color: #078FF2 !important;
}
