.font-weight-bold {
  font-weight: bold !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
